[submodule "static-site-gen"]
	path = static-site-gen
	url = git@code.futurice.com:zalando_tfox/static-site-gen
[submodule "metalsmith-greenhouse"]
	path = metalsmith-greenhouse
	url = git@code.futurice.com:zalando_tfox/metalsmith-greenhouse
